<!DOCTYPE html>
<html>
  <head>
    <title>ObliviaReact</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- TODO: move the next line into body? that seems like it would be convention. -->
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
